<div class="container-fluid">
    <div class="nav1">
        <nav class="navbar navbar-expand-lg navbar-fixed-top bg-alert">
            <a routerLink="/home" class="navbar-brand">Covid</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#menu"><i
                    class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ml-auto">
                    <li><a routerLink="/contact" class="nav-link">Contact</a></li>
                    <li><a routerLink="/notification" class="nav-link">Notifications</a></li>
                    <li><a routerLink="/hospitals" class="nav-link">Hospitals</a></li>
                    <li><a routerLink="/summary" class="nav-link">Summary</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>