<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-12">
            <h4>About</h4>
            <p class="text-justify">Government of India is taking all necessary steps to ensure that we are prepared
                well to face the
                challenge and threat posed by the growing pandemic of COVID-19 the Corona Virus. With active support of
                the people of India, we have been able to contain the spread of the Virus in our country. Get all the
                updates taken by Indian Government on our website.</p>
        </div>
        <div class="col-lg-4 col-12">
            <div class="ml">
                <h4>Quick Links</h4>
                <ul>
                    <li><a routerLink="">Symptoms</a></li>
                    <li><a routerLink="">Prevention</a></li>
                    <li><a routerLink="">About Coronavirus</a></li>
                    <li><a routerLink="">Contact Us</a></li>

                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <div class="ml">
                <h4>Helpful Links</h4>
                <ul>
                    <li><a href="http://www.en.usz.ch/Pages/default.aspx" target="_blank">Healthcare Professional</a>
                    </li>
                    <li><a href="https://www.aicte-india.org/opportunities/students/facilites" target="_blank">LGU
                            Facilities</a></li>
                    <li><a href="https://www.licindia.in/" target="_blank">Protect Your Family</a></li>
                    <li><a href="https://www.who.int/" target="_blank">World Health</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>