#home_mask{
    width:50%;
    float:right;
    margin-right: 250px;
    margin-top: 100px;
}
.home_text{
    font-family: impact,charcoal,sans-serif;
}
#home_col{
    margin-left: 200px;
    margin-top:90px;
}
ul li{
    padding-bottom: 7px;
}
li{
    list-style-type: none;
}
#home_bg{
    border-bottom-right-radius: 50%;
    background: rgba(111, 66, 193, 0.1);
    overflow:hidden;
}
.row-num{
    margin-left: 90px;
    font-size: medium;
}
.row-num-head{
    margin-left: 70px;
}
.bor{
    border: 1px solid black;
    border-radius: 1.25rem;
    background-color: rgba(111, 66, 193, 0.1);
}
.btn {
    position: absolute;
    top: 95%;
    left: 78%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:aquamarine;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover {
    background-color: black;
  }
@media only screen and (max-width:760px){
    #home_col{
        margin-left: auto;
        margin-top: 50px;
    }
    #home_mask{
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 100px;
        float: none;
    }
    .row-num{
        margin-left: 40%;
        font-size: medium;
    }
    .row-num-head{
        margin-left: 40%;
    }
    .btn {
        position: absolute;
        top: 95%;
        left:290%;
        transform: translate(-50%, -56%);
        -ms-transform: translate(-50%, -50%);
        background-color:aquamarine;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
    .btn:hover {
        background-color: black;
      }
}